In [63]:
library(dtw)
library(KODAMA)
library(caret)

print("Target")
groups <- read.csv(file="./MovementAAL/groups/MovementAAL_DatasetGroup.csv",head=TRUE,sep=",")
targetAll <- read.csv(file="./MovementAAL/dataset/MovementAAL_target.csv",head=TRUE,sep=",")
head(targetAll)

#Group 1
allDataGroup1<-list()
allDataGroup1Target<-list()
groups1 = groups[groups$dataset_ID==1, ]

index<-1
for (id in groups1$X.sequence_ID){
    caminho <-paste("./MovementAAL/dataset/MovementAAL_RSS_",id,".csv",sep="")
    allDataGroup1[[index]]<-read.csv(file=caminho,head=TRUE,sep=",")
    allDataGroup1Target[index]<-targetAll[[2]][id]
    index<-index+1
}

kdist <- dist(allDataGroup1, method="DTW",diag = TRUE,upper = TRUE)
kdistM<- as.matrix(kdist)

[1] "Target"

[1] 1 1 1 1 1 1

In [75]:
target <- unlist(allDataGroup1Target)
allDataGroup1TargetFrame = as.data.frame(target)
class(allDataGroup1TargetFrame$target)
train <- createDataPartition(allDataGroup1TargetFrame$target, p = .7, list = TRUE)$Resample1
test  <- (1:nrow(allDataGroup1TargetFrame))[-train]
y <- allDataGroup1TargetFrame$target

[1] "integer"

In [65]:
preds <- knn.predict(train, test,y, kdistM, k=3,agg.meth="majority") 
table(preds,y[test])

preds -1  1
   -1 15  1
   1   0 14

In [66]:
t(knn.probability(train, test,y, kdistM, k=3))

           -1         1
1   0.0000000 1.0000000
5   0.0000000 1.0000000
6   0.0000000 1.0000000
8   0.0000000 1.0000000
11  0.0000000 1.0000000
12  0.0000000 1.0000000
14  0.0000000 1.0000000
16  0.0000000 1.0000000
18  0.0000000 1.0000000
19  0.0000000 1.0000000
27  1.0000000 0.0000000
29  1.0000000 0.0000000
34  1.0000000 0.0000000
35  1.0000000 0.0000000
40  1.0000000 0.0000000
43  1.0000000 0.0000000
47  1.0000000 0.0000000
48  1.0000000 0.0000000
49  1.0000000 0.0000000
57  1.0000000 0.0000000
59  1.0000000 0.0000000
71  0.6666667 0.3333333
72  0.3333333 0.6666667
75  0.0000000 1.0000000
84  0.0000000 1.0000000
85  0.0000000 1.0000000
94  1.0000000 0.0000000
101 1.0000000 0.0000000
103 1.0000000 0.0000000
104 1.0000000 0.0000000

In [67]:
#Group 2


allDataGroup2<-list()
groups2 = groups[groups$dataset_ID==2, ]
allDataGroup2Target<-list()
index<-1
for (id in groups2$X.sequence_ID){
    caminho <-paste("./MovementAAL/dataset/MovementAAL_RSS_",id,".csv",sep="")
    allDataGroup2[[index]]<-read.csv(file=caminho,head=TRUE,sep=",")
    allDataGroup2Target[index]<-targetAll[[2]][id]
    index<-index+1
}


kdist <- dist(allDataGroup2, method="DTW",diag = TRUE,upper = TRUE)
kdistM<- as.matrix(kdist)

In [68]:
target <- unlist(allDataGroup2Target)
allDataGroup2TargetFrame = as.data.frame(target)
train <- createDataPartition(allDataGroup2TargetFrame$target, p = .7, list = TRUE)$Resample1
test  <- (1:nrow(allDataGroup2TargetFrame))[-train]
y <- allDataGroup2TargetFrame$target

In [69]:
preds <- knn.predict(train, test,y, kdistM, k=3,agg.meth="majority") 
table(preds,y[test])

preds -1  1
   -1 16  3
   1   0 12

In [70]:
t(knn.probability(train, test,y, kdistM, k=3))

           -1         1
3   0.3333333 0.6666667
9   0.0000000 1.0000000
10  1.0000000 0.0000000
11  1.0000000 0.0000000
13  1.0000000 0.0000000
17  0.0000000 1.0000000
19  0.0000000 1.0000000
20  0.3333333 0.6666667
21  0.0000000 1.0000000
24  0.3333333 0.6666667
29  1.0000000 0.0000000
30  1.0000000 0.0000000
37  1.0000000 0.0000000
46  1.0000000 0.0000000
48  1.0000000 0.0000000
49  1.0000000 0.0000000
52  1.0000000 0.0000000
54  1.0000000 0.0000000
60  1.0000000 0.0000000
63  1.0000000 0.0000000
64  1.0000000 0.0000000
68  0.0000000 1.0000000
69  0.0000000 1.0000000
77  0.0000000 1.0000000
81  0.0000000 1.0000000
92  0.0000000 1.0000000
95  1.0000000 0.0000000
97  1.0000000 0.0000000
100 1.0000000 0.0000000
102 1.0000000 0.0000000
106 1.0000000 0.0000000

In [71]:
#Group 3


allDataGroup3<-list()
groups3 = groups[groups$dataset_ID==3, ]
allDataGroup3Target<-list()
index<-1
for (id in groups3$X.sequence_ID){
    caminho <-paste("./MovementAAL/dataset/MovementAAL_RSS_",id,".csv",sep="")
    allDataGroup3[[index]]<-read.csv(file=caminho,head=TRUE,sep=",")
    allDataGroup3Target[index]<-targetAll[[2]][id]
    index<-index+1
}


kdist <- dist(allDataGroup3, method="DTW",diag = TRUE,upper = TRUE)
kdistM<- as.matrix(kdist)

In [72]:
target <- unlist(allDataGroup3Target)
allDataGroup3TargetFrame = as.data.frame(target)
train <- createDataPartition(allDataGroup3TargetFrame$target, p = .7, list = TRUE)$Resample1
test  <- (1:nrow(allDataGroup3TargetFrame))[-train]
y <- allDataGroup3TargetFrame$target

In [73]:
preds <- knn.predict(train, test,y, kdistM, k=3,agg.meth="majority") 
table(preds,y[test])

preds -1  1
   -1 14  4
   1   0 13

In [74]:
t(knn.probability(train, test,y, kdistM, k=3))

           -1         1
3   0.6666667 0.3333333
7   0.0000000 1.0000000
10  0.3333333 0.6666667
12  1.0000000 0.0000000
17  0.3333333 0.6666667
18  0.6666667 0.3333333
21  0.3333333 0.6666667
23  1.0000000 0.0000000
29  1.0000000 0.0000000
30  1.0000000 0.0000000
33  1.0000000 0.0000000
35  1.0000000 0.0000000
44  1.0000000 0.0000000
49  1.0000000 0.0000000
53  1.0000000 0.0000000
57  1.0000000 0.0000000
64  1.0000000 0.0000000
65  0.0000000 1.0000000
67  0.0000000 1.0000000
69  0.0000000 1.0000000
72  0.3333333 0.6666667
73  0.0000000 1.0000000
78  0.0000000 1.0000000
82  0.0000000 1.0000000
83  0.0000000 1.0000000
84  0.0000000 1.0000000
93  1.0000000 0.0000000
98  1.0000000 0.0000000
101 1.0000000 0.0000000
102 1.0000000 0.0000000
103 1.0000000 0.0000000